/* Temel stil ayarları */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  /* Genel arka plan rengi ve metin ayarları */
  body {
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
  }
  
  /* Header ve Navbar */
  header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
  }
  
  header nav ul {
    list-style-type: none;
    text-align: center;
  }
  
  header nav ul li {
    display: inline-block;
    margin: 0 15px;
  }
  
  header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
  }
  
  header nav ul li a:hover {
    text-decoration: underline;
  }
  
  /* Ana içerik */
  main {
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    color: #333;
    margin-bottom: 20px;
  }
  
  section.cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  
  .card {
    background-color: #ddd6d6;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 15px;
    width: 30%;
    text-align: center;
    border-radius: 8px;
  }
  
  .card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
  }
  
  .card h2 {
    color: #333;
    margin-bottom: 10px;
  }
  
  .card a {
    text-decoration: none;
    color: #fff;
    background-color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .card a:hover {
    background-color: #555;
  }
  
  /* Tarifler sayfası */
  input[type="text"] {
    padding: 10px;
    width: 50%;
    margin-top: 20px;
    border: 2px solid #fffcfc;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  ul {
    list-style-type: none;
    margin-top: 20px;
  }
  
  ul li {
    background-color: #66676f;
    padding: 10px;
    margin: 5px;
    box-shadow: 0 0 5px rgba(227, 222, 222, 0.855);
    border-radius: 5px;
  }
  
  /* Tarif detay sayfası */
  .tarif-gorsel {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  ul li {
    text-align: left;
    margin-bottom: 5px;
  }
  
  /* Form stil */
  form {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    width: 50%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  form input, form textarea, form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  form button {
    background-color: #333;
    color: #fff;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: #555;
  }
  
  /* Footer */
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
  }
  
  /* Responsive tasarım */
  @media (max-width: 768px) {
    header nav ul li {
      display: block;
      margin: 10px 0;
    }
  
    section.cards {
      flex-direction: column;
    }
  
    .card {
      width: 80%;
      margin: 10px auto;
    }
  
    form {
      width: 80%;
    }
  }
  